Repository Beats-Dh/otservbr-global, pull requests merged in 2021-08, with the labels that each got.

#53 Fix all random crashes generated by protocolgame.cpp #2670 (#2674)
  src/game/game.cpp
  src/game/game.h
  src/lua/modules/modules.cpp
  src/lua/modules/modules.h
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
Labels: source

#56 `addStamina` functions came together.
  data/events/scripts/creature.lua
  data/events/scripts/player.lua
  data/global.lua
Labels: data

#57 Some fixes, indentation.. Pr/2689
  data/events/scripts/player.lua
  data/global.lua
  src/config/configmanager.cpp
  src/lua/creature/events.cpp
Labels: source, data

#58 some fixes.
  .gitignore
  src/lua/scripts/luascript.cpp
  src/lua/scripts/luascript.h
Labels: source

#64 Develop
  data/XML/vocations.xml
  data/lib/tables/vocation.lua
  data/modules/scripts/daily_reward/daily_reward.lua
  data/npc/lib/npcsystem/customModules.lua
  data/npc/scripts/a_dead_bureaucrat1.lua
  data/npc/scripts/a_dead_bureaucrat4.lua
  data/npc/scripts/alexander.lua
  data/npc/scripts/asima.lua
  data/npc/scripts/duria.lua
  data/npc/scripts/fenech.lua
  data/npc/scripts/garamond.lua
  data/npc/scripts/gerimor.lua
  data/npc/scripts/gregor.lua
  data/npc/scripts/inkaef.lua
  data/npc/scripts/khanna.lua
  data/npc/scripts/ormuhn.lua
  data/npc/scripts/puffels.lua
  data/npc/scripts/rachel.lua
  data/npc/scripts/ser_tybald.lua
  data/npc/scripts/thorwulf.lua
  data/npc/scripts/topsy.lua
  data/npc/scripts/trisha.lua
  data/npc/scripts/tristan.lua
  data/npc/scripts/uso.lua
  data/npc/scripts/xodet.lua
  data/npc/scripts/zarak.lua
  data/scripts/actions/other/enchanting.lua
  data/scripts/actions/other/potions.lua
  data/scripts/actions/quests/elemental_spheres/lever.lua
  data/scripts/actions/quests/elemental_spheres/machine1.lua
  data/scripts/actions/quests/elemental_spheres/soils2.lua
  data/scripts/actions/quests/others/desert_dungeon_lever_quest.lua
  data/scripts/creaturescripts/others/boss_reward_chest.lua
  data/scripts/creaturescripts/others/familiars.lua
  data/scripts/movements/quests/elemental_spheres/soil_entrance.lua
  data/scripts/movements/quests/kilmaresh/tpvoc.lua
  data/scripts/movements/quests/pits_of_inferno/fire_tile.lua
  data/scripts/spells/monster/eruption of destruction explosion.lua
  data/scripts/spells/monster/gaz'haragoth death.lua
  data/scripts/spells/monster/lisa skill reducer.lua
  data/scripts/spells/monster/mawhawk ue.lua
  data/scripts/spells/monster/prince drazzak druid.lua
  data/scripts/spells/monster/prince drazzak knight.lua
  data/scripts/spells/monster/prince drazzak paladin.lua
  data/scripts/spells/monster/prince drazzak sorcerer.lua
  data/scripts/spells/monster/tenebris ultimate.lua
  data/scripts/spells/summon/knight familiar.lua
  src/creatures/players/vocations/vocation.cpp
  src/creatures/players/vocations/vocation.h
  src/lua/scripts/luascript.cpp
  src/lua/scripts/luascript.h
  src/server/network/protocol/protocolgame.cpp
Labels: source, data
